h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: cadetblue;
    display: flex;
    justify-content:space-between;

}
.grid{
    display: flex;
    justify-content:space-evenly;
}
.entertainment{
    display: flex;
    justify-content:flex-end ;

}
p,h2{
    text-align:centre ; 

}
.site{
    display: flex;
    flex-direction:column ;
    justify-content: first baseline;
}